/* Inicio Comandos Generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contendor-general {
    width: 100%;
    margin: 0 auto;
}

.cabeceraGK {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    position: relative;
}

.contenedor-main {
    width: 100%;
    display: flex;
    flex-flow: row;
}

aside {
    width: 10%;
    background-color: black;
}

.contenedor {
    width: 100%;
    background-color: beige;
}


footer {
    width: 100%;
    height: 5vh;

}

/* FIN Comandos Generales*/
/*************************************************************************************/
/* Inicio Gorka header*/
.cabe-prin {
    width: 100%;
    height: 10vh;
    display: flex;
    position: relative;
}


.img-corp {
    width: 6vw;
    height: 10vh;
    position: absolute;
    top: 5%;
    left: 10%;
}

.logo {
    width: 80%;
}

.navegador {
    width: 40%;
    position: absolute;
    top: 30%;
    right: 15%;
}

.list-nav {
    width: 100%;
    height: 2.2em;
    display: flex;
    justify-content: center;
}

.list-menu {
    width: 40%;
    list-style: none;
    margin: auto;
}

.menu {
    width: 100%;
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: 900;
    letter-spacing: 0.5px;
    position: relative;
    margin: auto;
}


.ini-ses {
    width: 8%;
    height: 40%;
    position: absolute;
    right: 5%;
    top: 35%;
    display: flex;
    justify-content: center;
}

.btn-modal {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgb(241, 98, 2);
    border: 0;
    border-radius: 25px;
}

/*Fin Gorka header*/
/*************************************************************************************/
/* INICIO Gorka aside*/


/* FIN Gorka aside*/
/*************************************************************************************/
/*INICIO section1 Chaimae*/
.chaimae {
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: 2px solid rgb(135, 240, 128);
}

.art1 {
    width: 100%;
    height: 300px;
    display: flex;
    border: 2px solid purple;
}

.img1 {
    width: 49%;
    background-image: url(../images/Captura\ de\ pantalla\ 2023-05-02\ 141135.png);
    background-size: cover;
}

.txt1,
.txt2 {
    width: 49%;
}


.img2 {
    width: 49%;
    background-image: url(../images/2.jpg);
    background-size: cover;
}





/*FIN section1 Chaimae*/



/***********************************************************/



/*INICIO section2 Alex*/

#enlacesa {
    width: 50%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenfondo {
    width: 50%;
    height: 500px;
    background-image: url(../images/Camiones_de_carreras_06-650x366.jpg);
    background-size: 100% 100%;
}

.contalex {
    display: flex;
   
}

.contalexprop{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: blue;
    color: aliceblue;
    font-size: 2.5em;
}

#textopropaganda {
    width: 85%;
    margin-left: 5%;
}

#imgpropaganda {
    width: 5%;
    height: 50px;
    background-image: url(../images/svg-image2.png);
    background-size: 100% 100%;
}

.contalexprop2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: yellow;
    color: black;
    font-size: 2.5em;
}

#textopropaganda2 {
    width: 85%;
    margin-left: 5%;
}

#imgpropaganda2 {
    width: 5%;
    height: 50px;
    background-image: url(../images/svg-image.png);
    background-size: 100% 100%;

}

.contalexdiv {
    width: 50%;
    
}

.contalexdiv1 {
    width: 50%;
   
}

#imagenfondogps {
    width: 100%;
    height: 400px;
    background-image: url(../images/450_1000.webp);
    background-size: 100% 100%;

}

#cpostal {
    width: 100%;
    height: 250px;
    background-image: url(../images/Sin\ título1.png);
    background-size: 100% 100%;
}

#aplicaciones {
    width: 100%;
    height: 250px;
    background-image: url(../images/Sin\ título.png);
    background-size: 100% 100%;
}

#imagenfondoapp {
    width: 100%;
    height: 400px;
    background-image: url(../images/banner-app.0e396ff37038.png);
    background-size: 100% 100%;
}



/*FIN section2 Alex*/


/*************************************************************************************/


/*INICIO Gorka footer*/
.div-footer {
    width: 100%;
    margin-block-start: 2em;
    margin-block-end: 2em;
    display: flex;
    justify-content: space-evenly;
    
}

.img-corp-down {
    width: 6vw;
    height: 10vh;

}

.inf-footer {
    width: 50%;
}

.list-footer{  
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-legal{
    text-decoration: none; 
    margin-block-start: 1%;  
}
/*FIN Gorka footer*/
/*************************************************************************************/