/* INICIO contenido generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principal {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

/*FIN contenido generales*/
/**/
/*INICIO section="general" index.html*/

.general {
    display: flex;
}

/***************************************************************/
/* INICIO Gorka aside*/
.desplegable {
    width: 10%;
    background-color: black;

}

.cont-flecha {
    position: fixed;
    top: 350px;
    left: 30px
}

.cont-flecha img {
    width: 70%;
}

.menu-des {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;

}

.menu-des:hover {
    width: 350px;
    background-color: black;
    z-index: 100;
    transition: 1ms;
}
#lateral{
    position: fixed;
    
}
aside ol{
   position: absolute;
   top: 30px;
  
}

aside li{
    margin: 15%;
}


aside a{
    font-size: 1.8em;
    color: #ffffff;
    border-radius: 15px;
    border: 1px solid white;
    white-space:nowrap;
    padding-inline:10%;
    padding-bottom: 3%;
    text-decoration: none;
}
aside a:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
    white-space:nowrap;
    padding-inline:10%;
    padding-bottom: 3%;
}

/* FIN Gorka aside*/
/***************************************************************/

.contendor-general {
    width: 90%;
}

/***************************************************************/
/* Inicio Gorka header*/
.cabeceraGK {
    width: 90%;
    height: 14vh;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.img-corp {
    width: 14vw;
    height: 10vh;
    margin-block-start: 1%;
}

.logo {
    width: 50%;
    height: 10vh;
    margin-inline-start: 50%;
}

.navegador {
    width: 65%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
}

.menu {
    width: 100%;
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.ini-ses {
    width: 10%;
    height: 6vh;
    margin-block-start: 2%;
}

#btn-modal {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    font-style: italic;
    background-color: rgb(241, 98, 2);
    border: 0;
    border-radius: 25px;
}
#btn-modal:hover{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    font-style: italic;
    background-color: rgb(211, 86, 2);
    box-shadow: 10px 5px 5px rgb(96, 39, 1);
    border-radius: 25px;
    cursor: pointer;
}



/*Fin Gorka header*/
/*************************************************************************************/
.contenedor-main {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.contenedor {
    width: 100%;
    background-color: beige;
    margin-block-start: 7.5%;
}

/*************************************************************************************/
/*INICIO section Chaimae*/
.art1 {
    width: 100%;
    height: 400px;
    display: flex;
    
  
}

.art2 {
    width: 100%;
    height: 400px;
    display: flex;
    
  
}
.img1 {
    width: 50%;
    background-image: url(../images/1.png);
    background-size:cover;
    
 }

  .txt1{
   
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 400px;
    background-color: yellow; 
  
}

.txt1 a{
    width: 40%;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1.5%;
    margin: 3%;
    color: rgb(0, 3, 5);
    font-size: 1.5em;
    display: flex;
   justify-content: center;
} 



.txt2{
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 400px;
    background-color: yellow; 
   
}
.txt2 a{
    width: 40%;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1.5%;
    margin: 3%;
    color: rgb(0, 3, 5);
    font-size: 1.5em;
    display: flex;
   justify-content: center;
} 

   

.img2 {
    width: 50%;
    background-image: url(../images/MOTO1.jpg);
    background-size:cover;
  
}

.prop{
    width: 100%;
    height: 25vh;
    background-image: url(../images/Sin\ título3.png);
    background-size: 100% 100%;
}


/*FIN section1 Chaimae*/

/***********************************************************/

/*INICIO section Alex*/

#enlacesa {
    width: 50%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenfondo {
    width: 50%;
    height: 500px;
    background-image: url(../images/Camiones_de_carreras_06-650x366.jpg);
    background-size: 100% 100%;
}

.contalex {
    display: flex;
}

.contalexprop {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: blue;
    color: aliceblue;
    font-size: 2.5em;
}

#textopropaganda {
    width: 85%;
    margin-left: 5%;
}

#imgpropaganda {
    width: 5%;
    height: 50px;
    background-image: url(../images/svg-image2.png);
    background-size: 100% 100%;
}

.contalexprop2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: yellow;
    color: black;
    font-size: 2.5em;
}

#textopropaganda2 {
    width: 85%;
    margin-left: 5%;
}

#imgpropaganda2 {
    width: 5%;
    height: 50px;
    background-image: url(../images/svg-image.png);
    background-size: 100% 100%;

}

.contalexdiv {
    width: 50%;

}

.contalexdiv1 {
    width: 50%;

}

#imagenfondogps {
    width: 100%;
    height: 400px;


}

iframe {
    width: 100%;
    height: 100%;
}

#cpostal {
    width: 100%;
    height: 250px;
    background-image: url(../images/Sin\ título1.png);
    background-size: 100% 100%;
}

#aplicaciones {
    width: 100%;
    height: 250px;
    background-image: url(../images/Sin\ título.png);
    background-size: 100% 100%;
}

#imagenfondoapp {
    width: 100%;
    height: 400px;
    background-image: url(../images/banner-app.0e396ff37038.png);
    background-size: 100% 100%;
}

/*FIN section Alex*/

/***********************************************************/

/*INICIO Gorka MODAL*/
.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(153, 153, 153, 0.747);
    pointer-events: none;
    opacity: 0;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    width: 35%;
    height: 99vh;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0.5%;
    left: 30%;
    flex-flow: column;
    align-items: center;
    background-color: rgba(248, 38, 167, 0.8);
}

.title-modal {
    height: 20vh;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.logo-modal {
    width: 28%;
    position: absolute;
    top: 10%;
    left: 35%;
}

.close-modal {
    width: 5vw;
    height: 5vh;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 10%;
    left: 80%;
}

.close-modal:hover {
    cursor: pointer;
}

#btn-close {
    width: 2vw;
    height: 4vh;
}

/*INICIO Form Modal*/

.registrar-modal {
    height: 65vh;
    width: 20vw;
    display: flex;
    flex-flow: column;
    position: relative;

}

.registrar-modal h2 {
    position: absolute;
    top: 3%;
    left: 15%;
    font-size: 25px;
    font-weight: bold;
}

.lCorreo {
    position: absolute;
    top: 12%;
    font-size: 18px;
}

.registrar-modal input,
.registrar-modal button {
    width: 100%;
    min-height: 38px;
    border-radius: 15px;
    border: 0;
}

#iCorreo {
    position: absolute;
    top: 18%;
}

.lPass {
    position: absolute;
    top: 30%;
    font-size: 18px;
}

#iPass {
    position: absolute;
    top: 36%;
}

#nocontra {
    position: absolute;
    top: 47%;
    left: 13%;
    color: #000000;
}

/*BOTONES modal*/
.btn-ses {
    position: absolute;
    top: 55%;
    text-align: center;
    background-color: rgb(235, 31, 31);
    color: #ffffff;
    font-size: 16px;
}

.o {
    position: absolute;
    top: 65%;
    left: 48%;
    font-size: 16px;
}

.google {
    position: absolute;
    top: 71%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.google:hover {
    background: #e7e7e7;
}

.logo-google {
    width: 10%;
    font-size: 16px;
}

.registro {
    position: absolute;
    top: 85%;
    background-color: rgb(0, 81, 255);
}

#btn-registro {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

/*FIN Form modal*/
.letr-peq {
    width: 80%;
    height: 13vh;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.politicas {
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.politicas:hover {
    text-decoration: underline;
}

/*FIN Gorka MODAL*/

/***********************************************************/

/*Inicio slider Alex*/
:root {

    --move-initial: calc(5%);
    --move-final: calc(-50%);
}

.marquee {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;


    text-transform: uppercase;
    overflow: hidden;

    &.running .marquee-inner {
        animation-play-state: running
    }

}

span {
    white-space: nowrap;
}

.marquee-inner {
    width: max-content;
    position: relative;
    animation: marquee 20s linear infinite;


}

@keyframes marquee {
    0% {
        transform: translateX(var(--move-initial))
    }

    100% {
        transform: translateX(var(--move-final))
    }
}

/*FIN slider Alex*/

/***********************************************************/

/*INICIO Gorka footer*/
.pie-pag {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.img-corp-down {
    width: 6vw;
    height: 10vh;
    margin-block-start: 0.8em;
}

.inf-footer {
    width: 50%;
    margin-block-start: 2em;
}

.list-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-legal {
    text-decoration: none;
}

.cont-footer {
    margin-block-start: 1.5em;
}

/*FIN Gorka footer*/

/**************************************************/

/*FIN index.html*/
/**/
/*INICIO reserva.html*/

.container-reserva {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #CC8FD2;
}

.cabe-reser {
    width: 100%;
    height: 14vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.contenido-reserva {
    width: 100%;
    height: 65vh;
}

.mes-reserva {
    margin-inline: 45.5%;
    margin-top: 4%;
    background-color: black;
    border-radius: 15px;
}

#mes {
    margin-inline-start: 5%;
    font-size: 3em;
    color: white;

}

.art-reser {
    width: 60%;
    margin: 3% 21% 0 21%;
}

.table-reser { 
    width: 100%;
    height: 60%;
    margin-block-start: 2%;
    font-size: 2em;
    text-align: center;
    color: white;
}

.table-finde{
    color: rgb(188, 22, 22);
}

.table-col:hover{
    background-color: #000000;
    border-radius: 5px;
}

/*Botones*/
.botonera {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    margin-block-start: 5%;
}

.btn-horas{
    width: 15%;
    padding: 1% 1% 1% 5%;
    border-radius: 8px;
    border: none;
}

.btn-siguiente{
    width: 15%;
    padding: 1%;
    border-radius: 8px;
    background-color: rgb(183, 222, 43);
    border: none;
}